html {
    background-color: rgb(226, 222, 165);
}

#total-file {
    width: 800px;
    margin: auto;
    background-color: aqua;
    padding: 15px;
}

img {
    width: 500px;
    display: block;
    margin: auto;
}

h1, h2, h3, ul, ol, a {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    display: block;
}

h1, h2, h3 {
    color:brown;
}